{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DecaDash</title>
    <link rel="icon" href="{% static 'assets/images/logo/logo1.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="{% static 'assets/js/script.js' %}"></script>
</head>
<body>
    <div class="navibar">
        <div class="logo">
            <img src="{% static 'assets/images/logo/Logo4.png' %}" alt="Logo">
        </div>
        <div class="icons">
                        <a href="customer/cart_page.html"><img class="cart-icon" src="{% static 'assets/images/icons/cart.png' %}" alt="Cart"></a>

            <a href="#"><img src="{% static 'assets/images/icons/profile.png' %}" alt="Profile"></a>
        </div>
        <div class="menu-container">
          <div class="menu-toggle" onclick="toggleMenu()">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
          </div>
          <div class="menu-content">
            <div class="menu-toggle" onclick="toggleMenu()">
              </div>
              <div class="close-menu" onclick="toggleMenu()">&#x2715;</div> <!-- Close button -->
              <div class="logo">
                  <img src="{% static 'assets/images/logo/Logo4.png' %}" alt="Logo">
              </div>
              <hr class="logo-line">
              <ul>
                  <li><a href="">Account</a></li>
                  <li><a href="">Cart</a></li>
                  <div class="dropdown">
                  <li><a href="">Categories</a>
                    <ul class="categories-sub">
                        <li><a href="">Desserts</a></li>
                        <li><a href="">Dishes</a></li>
                        <li><a href="">Pastries</a></li>
                        <li><a href="">Raw Products</a></li>
                        <li><a href="">Vegetables And Fruits</a></li>
                        <li><a href="">Snacks</a></li>
                    </ul>
                    </li>
                    <hr>
                  <li><a href="">Support</a></li>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Be a Seller</a></li>
              </ul>
          </div>
      </div>
    </div>
<div class="greetings">
<h1>You're halfway there</h1>
<p>We just need to verify it</p>
<hr>  
</div>
<div class="logregContainer">
    <h1>OTP Verification</h1>

    <div class="otp-text">
      <p>An OTP has been sent to your phone number. Please enter the OTP to proceed.</p>
    </div>

    <input type="text" id="otp-input" placeholder="Enter OTP code" pattern="[0-9]*" maxlength="6" required>
    <!--h-ref is sample only here--><a href="{% url 'userauths:shop-register' %}">
    <input type="submit" value="Verify Otp">
    </a>
    <div class="change-number-link">
      <p>Didn't receive OTP? <a href="#">Resend OTP</a></p>
      <p>Want to change your email?? <a href="#" id="change-link">Click here</a></p>
    </div>
    <div id="change-number-container" style="display: none;">
    <p>Current email is <span class="currentEmail">sampleEmail@gmail.com</span></p>
      <input type="tel" id="new-phone" placeholder="Enter new Email" required>
      <input type="submit" value="Update">
    </div>
  </div>
<hr>
<script src="{% static 'assets/js/script.js' %}"></script>

<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="footer-item">
                  <div class="logo">
                      <img src="{% static 'assets/images/logo/Logo3.png' %}" alt="DecaDash">
                  </div>
                  <ul class="contact-info">
                      <li><a href="#">DecaDash Community Angeles City Pampanga</a></li>
                      <li><a href="mailto:hexashop@company.com">xxxDecadash.com</a></li>
                      <li><a href="tel:09XXXXXXXX">09X-XXX-XXXX</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="footer-item">
                  <h4>Categories</h4>
                  <ul class="footer-links">
                    <li><a href="">Desserts</a></li>
                    <li><a href="">Dishes</a></li>
                    <li><a href="">Pastries</a></li>
                    <li><a href="">Raw Products</a></li>
                    <li><a href="">Vegetables And Fruits</a></li>
                    <li><a href="">Snacks</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="footer-item">
                  <h4>Useful Links</h4>
                  <ul class="footer-links">
                      <li><a href="#">Homepage</a></li>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Support</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="footer-item">
                  <h4>Help & Information</h4>
                  <ul class="footer-links">
                      <li><a href="#">lorem ipsum</a></li>
                      <li><a href="#">lorem ipsum</a></li>
                      <li><a href="#">lorem ipsum</a></li>
                      <li><a href="#">lorem ipsum</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="under-footer">
                <p>decadash.ltd © all rights reserved ® 2024</p>
                  <ul class="social-links">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer></body>
</html>
