.custsell-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .customerCard {
    background-color: #127579;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .customerCard:hover {
    background-color: #525252;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .sellerCard {
    background-color: rgb(248, 145, 28);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .sellerCard:hover {
    background-color: #525252;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-top: 0;
  }
  
  .linkcard {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
  }

  .linkcard:hover{
    color: rgb(0, 255, 85);
  }