/*ShopCards*/
.shop-container{
    background-color: #ececec60;
    padding-top: 20px;
  }
  
  .Featured-shops {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: -2%;
    margin-right: -2%;
    margin: 12px;
  }
  .shop-info{
    margin: auto;
  }

  .shop-card {
    border: 0.1px solid #11525718;
    width: 300px; 
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    border-color: #2c2c2c34;
    background-color: white;
  }
  
  .shop-card:hover {
    box-shadow: 10px 10px #00000063;
  }
  
  .shop-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .shop-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .shop_name_cp img {
    width: 20px; 
    height: 20px;
    margin-right: 7px;
    margin-bottom: 12px;
    opacity: 70%;
  }
  
  .rating {
    color: rgb(255, 208, 0);
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .description {
    font-size: 0.9em;
  }
  
  .shop-page-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 12px;
  }
  

.shop-profile-pic {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .shop-profile-pic:hover{
    opacity: 80%;
  }

  .shop-ratings {
    font-size: 16px; /* Adjust size as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .reviews-a {
    text-decoration: none;
    color: #333; /* Adjust color as needed */
  }
  



  .shop-reviews {
    margin-left: 10px;
    text-decoration: underline;
  }
  .shop-reviews a{
    font-size: 12px;
  }
  .shop-description {
    margin-top: 20px;
  }
  .shop-tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  
  .reviews-a{
    font-size: 15px;
  }
  .shop-name {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #126E79;
  }
  
  .shop-address,
  .shop-open-hours {
    margin-bottom: 10px;
  }
  
  .shop-open-hours p::before {
    content: "Opening Hours: ";
  }
  
  .shop-open-hours p {
    display: inline;
  }
  
  /*Product-Container /non-responsive*/
  .products-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 30px;
  }
  .category-product {
    width: 100%;
    margin-bottom: 30px;
  }
  .category-product h2 {
    text-align: center;
  }
  .product-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
    padding-top: 10px;
    padding: 10px;
  }
  .product-list:hover{
    background-color: rgb(241, 241, 241);
  } 
  .storage-instructions-odp{
  
  }
  .product-img {
    width:  150px;
    height: auto; 
    object-fit: cover; 
    border-radius: 5px;
    margin-right: 20px;
  }
  .stock {
    color: rgba(0, 114, 0, 0.712); /* Green color for in-stock text */
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 3px;
    margin-left: 5px;
  }
  .product-details {
    flex-grow: 1;
    font-size: 16px; 
  }
  .product-name {
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
  }
  .rating {
    margin-left: 5px;
    color: #ffcc00;
  }
  .product-description {
    margin-bottom: 10px;
  }
  .add-to-cart-btn {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 60px;
  }

  .search-container {
    padding: 8px 50px 8px 50px; 
    font-size: 16px;
    border-radius: 4px; 
    box-sizing: border-box;
    margin: 15px 15px;
  }
  .search-icon {
    margin-left: 7px;
    width: 24px; 
    height: 24px;
  }
  .address-bar {
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #525252;
  }
  input[type="text"]
  {
    width: 100%;
    padding: 10px;
    border: 1px solid #258588b6;
    border-radius: 12px;
    margin-bottom: 12px;
  }
  .stag{
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
  }
  .stag:hover{
    background-color: #8f8f8f8e;
  }

  .message-btn {
    background-color: #ff8800;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    margin-top: 15px;
  }
  
  .message-btn:hover {
    background-color: #126E79;
  }
  .product-price {
    font-size: 18px;
    font-weight: bold;
    color: green;
  }
